/* rem and EM do NOT depend on html font-size in media queries
instead, 1rem = 1em = 16px  IN QUERIES we use EM becuase of bugs */

/* Smaller Desktops = 1344px / 16 = 84em */
/* UN MEDIA QUERIE DEBE FUNCIONAR ALREDEDOR DE 200 O 300PX */

@media (max-width: 84em) {
    .hero {
        max-width: 120rem;
    }

    .heading-primary {
        font-size: 4.4rem;
    }

    .gallery {
        grid-template-columns: repeat(2,1fr);
    }
}

/* Tablet Landscape = 1200px / 16px = 75em */
/* UN MEDIA QUERIE DEBE FUNCIONAR ALREDEDOR DE 200 O 300PX */
@media (max-width: 75em) {
    /* Viendo el diseño, tenemos configurado el HTML A 62.5%
    entonces el default es de 10px para 62.5% (10px / 16px = 0.625)


    solo habria que bajar a 9px y el porcentaje cambia 56.25%
    (9px / 16px = 56.25%) lo que cambia todo el html */

    html {
        font-size: 56.25%;  
    }
    
    .grid {
        column-gap: 4.8rem;
        row-gap: 6.4rem;
    }

    .header {
        padding: 0 3.2rem;
    }

    .hero {
        gap: 4.8rem;
    }

    .main-nav-list {
        gap: 3.2rem;
    }

    .testimonials-container {
        padding: 9.6rem 3.2rem;
    }

    .heading-secondary {
        font-size: 3.6rem;
    }

    .heading-tertiary {
        font-size: 2.4rem;
    }
}


/* TABLETS  940px / 16px = 59em*/
/* UN MEDIA QUERIE DEBE FUNCIONAR ALREDEDOR DE 200 O 300PX */

@media (max-width: 59em) {
    /* Lo que hare a continuacion es lo mismo que el Querie pasado.
    Serà redimensionar el HTML, bajarlo a 8px 
    Entonces 8px / 16px = 50% */

    html {
        font-size: 50%;
    }

    .hero {
        grid-template-columns: 1fr;
        padding: 0 8rem;
        gap: 6.4rem;
    }
    
    .hero-img  {
        width: 60%;
    }

    .hero-text-box,
    .hero-img-box  {
        text-align: center;
    }

    .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
}

.logos img {
    height: 2.4rem;
}

.step-number {
    font-size: 7.4rem;
}

.meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
}

.section-testimonials {
    grid-template-columns: 1fr;
}

.gallery {
    grid-template-columns: repeat(6,1fr);
}

.cta {
    grid-template-columns: 3fr 2fr;
}

.cta form {
    grid-template-columns: 1fr;
}

.btn--form {
    margin-top: 1.2rem;
}

/***********************/
/*MOBILE NAVIGATION*/
/***********************/
.btn-mobile-nav {
    /* aca como ya es mobile, dentro de su rango ya se puede mostrar el icono de menu */
    display: block;
}

.main-nav {
    /* Recuerda poner el relative en el padre, osea en el header
    para que no pueda desplazarme en el eje x para el menu del mobile */
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;

    width: 100%;
    height: 100vh;

    /* translate en el eje X con su mismo ancho (width:100%) */
    transform: translateX(100%);
    /* Despues de esto, ir al general.css y poner overflow-x:hidden; en html y body */

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.5s;

    
/* Esto es HIDDEN por DEFAULT */
opacity: 0;
pointer-events: none;
visibility: hidden;

}

.nav-open .main-nav {
    /* acaes cuando esta .NAV-OPEN, SE MOSTRARA EL .MAN-NAV */
    opacity: 1;
    pointer-events: auto;
    visibility: visible;

    transform: translateX(0);
}

.nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
}

.nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
}


.main-nav-list {
    /* cambiando la direccion a columna y su separacion... */
    flex-direction: column;
    gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
    /* aqui se cambio el tamaño de los links de la columna.
    recordar que son botones (ANCHOR) por eso se usa link y visited en su pseudo */
    font-size: 3rem;
}
  }
/* SMALLER TABLETS = 704px / 16px = 44em */
  @media (max-width: 44em) {

    .grid--3-cols, .grid--4-cols {
        grid-template-columns: repeat(2, 1fr);
    }

    .diets {
        grid-column: 1 / -1;
        /* grid-column: span 2; */
        justify-self: center;
    }

    .heading-secondary {
        margin-bottom: 4.8rem;
    }

    .pricing-plan {
        width: 100%;
    }

    .grid--footer {
        grid-template-columns: repeat(6,1fr);
    }

    .nav-col {
        grid-row: 1;
        grid-column: span 2;
        margin-bottom: 3.2rem;
    }

    .logo-col, .address-col {
        grid-column: span 3;
    }

  }



  /*PHONE 550PX = 34em */

@media (max-width: 34em) {
.grid {
    row-gap: 4.8rem;
}

.grid--2-cols,
.grid--3-cols,
.grid--4-cols {
    grid-template-columns: 1fr;
}

.hero {
    padding: 0 3.2rem;
}

.section-hero {
    padding: 2.4rem 0 6.4rem 0;
}

.btn,
.btn:link,
.btn:visited {
    padding: 2rem 1.1rem;
}

.hero-img {
    width: 80%;
}

.logos img {
    height: 1.2rem;
}
/* con grid row se refiere a la fila y el numero en el que estara. */
.step-img-box:nth-child(2) {
    grid-row: 1;
}

.step-img-box:nth-child(6) {
    grid-row: 5;
}

/* para mover la imagen no podemos usar margin-bottom ni top, se usara transform */
.step-img-box {
    transform: translateY(2.4rem);
}

.testimonials {
    grid-template-columns: 1fr;
}

.gallery {
    grid-template-columns: repeat(4,1fr);
    gap: 1.6rem;
}

.cta {
    grid-template-columns: 1fr;
}

.cta-img-box {
    /* Se tuvo que agregar altura, porque no aparecia, ya que
    en el HTML no se tiene contenido en su etiqueta */
    height: 32rem;
    grid-row: 1;
}

.cta-text-box {
    padding: 3.2rem;
}


}











/* - Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */